/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

li {
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration: none;
}
img {
    max-width: 100%;
}

h2 {
    font-size: 2.5rem;
}

p {
    line-height: 2;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn {
    padding: 10px 20px;
    background-color: #9792e4;
    color: #fff;
    border-radius: 20px;
}

/* header rules */

header {
    background-color: #0084fd;
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header .container {
    height: 100%;
}

header > .flex {
    align-items: center;
}

header li {
    display: inline-block;
    padding-left: 20px;
}

header .btn {
    color: black;
    background-color: #fff;
}

.nav-mobile-tablet {
    font-size: 2rem;
    color: #fff;
    display: none;
}

/* main rules */

main {
    margin-top: 120px;
}

section {
    margin-top: 50px;
    text-align: center;
}

.row.purple {
    color: #fff;
    background-color: #9792e4;
    padding: 50px 0;
}

.row .container {
    margin-bottom: 30px;
}

.card {
    width: calc(95% / 3);
    background-color: #b5ddff;
    border-radius: 20px;
    padding: 15px;
    /* debug */
    min-height: 300px;
}
/* section functions */
.card.medium {
    width: calc( (99% / 3) * 2);
}
/* section strategic planning*/
.container.small {
    width: 40%;
}

.card-planning {
    width: 50%;
}

.card-planning > * {
    padding: 50px;
}

.card-planning.white {
    color: black;
    background-color: #fff;
    border-radius: 20px;
}

.card-planning.white > * {
    padding: 0;
}

.slot-text {
    text-align: left;
}

.slot-text > * {
    padding: 20px 0;
}

/* section testimonials */
.testimonials > * {
    margin: 30px 0;
}

.card.big {
    background-color: #9792e4;
    width: 100%;
    border-radius: 40px;
}

.testimonials h5 {
    font-weight: lighter;
}

.testimonials h2 {
    color: #9792e4;
}

/* section benefits */
.card.white {
    color: black;
    background-color: #fff;
    margin-bottom: 20px;
}

.benefits > h2 {
    margin-bottom: 50px;
}

/* section about us */
.col-big {
    width: 70%;
    text-align: left;
    padding: 0 20px;
}

.col-big > * {
    margin-bottom: 30px;
}

.col-small {
    width: 25%;
}

blockquote > p {
    font-size: 1.5rem;
    color: #9792e4;
    text-align: left;
    line-height: 1.5;
}

/* footer rules */
footer {
    color: #fff;
    background-color: #333333;
    font-size: 1rem;
}

.container.footer-text {
    width: 22%;
    height: 100%;
}

footer p {
    padding: 30px 0;
}

footer a{
    color: #9792e4;
    text-decoration: underline;
}

/* rules responsive tablet */
@media screen and (max-width: 810px) {
    
    .container {
        width: 90%;
        margin: 0 auto;
    }
    .nav-desktop {
        display: none;
    }

    .nav-mobile-tablet {
        display: block;
    }

    .container.footer-text {
        width: 60%;
    }
}

/* rules responsive mobile */
@media screen and (max-width: 375px) {
    
    .container.footer-text {
        width: 90%;
    }
}