/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

li {
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration: none;
}
img {
    max-width: 100%;
}

h2 {
    font-size: 2.5rem;
}

p {
    line-height: 2;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn {
    padding: 10px 20px;
    background-color: #9792e4;
    color: #fff;
    border-radius: 20px;
}

/* header rules */

header {
    background-color: #0084fd;
    height: 75px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

header .container {
    height: 100%;
}

header > .flex {
    align-items: center;
}

header li {
    display: inline-block;
    padding-left: 20px;
}

header .btn {
    color: black;
    background-color: #fff;
}

.nav-mobile-tablet {
    font-size: 2rem;
    color: #fff;
    display: none;
}

/* main rules */

main {
    margin-top: 120px;
}

section {
    margin-top: 50px;
    text-align: center;
}

.row.purple {
    color: #fff;
    background-color: #9792e4;
    padding: 50px 0;
}

.card {
    width: calc(95% / 3);
    background-color: #b5ddff;
    border-radius: 20px;
    margin-bottom: 20px;
    /* debug */
    min-height: 300px;
}
/* section functions */
.card.medium {
    width: calc( (99% / 3) * 2);
    display: flex;
}

.text-card {
    color: #5a6e7f;
    text-align: left;
    font-weight: bold;
    padding: 20px;
}

.img-card {
    align-self: flex-end;
}

.functions h3 {
    color: #0084fd;
    font-size: 1.5rem;
}

.text-card > * {
    padding-bottom: 20px;
}

.btn.blue {
    background-color: #0084fd;
}

.card-icon {
    color: #0084fd;
    font-size: 4rem;
}

/* section strategic planning*/
.container.small {
    width: 40%;
}

.container.small.flex {
    justify-content: space-between;
    align-items: flex-end;
}

.card-planning {
    width: 55%;
}

.card-planning.white {
    width: 40%;
    color: black;
    background-color: #fff;
    border-radius: 20px;
}

.card-planning.white > * {
    padding: 10px;
}

.slot-img-planning {
    margin-bottom: 50px;
}
.slot-text {
    text-align: left;
}

.slot-text > * {
    padding: 20px 0;
}

.slot-text.right {
    text-align: center;
}

.slot-text.right a {
    color: black;
}

/* section testimonials */
.testimonials > * {
    margin: 30px 0;
}

.card.big {
    background-color: #9792e4;
    width: 100%;
    border-radius: 40px;
    text-align: left;
    display: flex;
    align-items: center;
}

.testimonials h5, .started h5 {
    font-weight: lighter;
}

.testimonials h2 {
    color: #9792e4;
}

.card.big blockquote > * {
    color: #fff;
    font-size: 1rem;
}

.card.big * {
    padding: 20px;
}

.img-testimonial {
    border-radius: 50%;
}

.card.big cite {
    font-weight: bold;
}

/* section benefits */
.card.white {
    color: black;
    background-color: #fff;
}

.benefits > h2 {
    margin-bottom: 50px;
}

/* section about us */
.col-big {
    width: 70%;
    text-align: left;
    padding: 0 20px;
}

.col-big > * {
    margin-bottom: 30px;
}

.col-small {
    width: 25%;
}

.col-big > h2 {
    color: #9792e4;
}

.col-small > * {
    padding-bottom: 20px;
}

.slot-img-about {
    position: relative;
}

#img-about {
    border-radius: 50%;
}

#quote {
    font-size: 5rem;
    color: #9792e4;
    position: absolute;
    top: 0;
    right: 0;
}

blockquote > p {
    font-size: 1.5rem;
    color: #9792e4;
    text-align: left;
    line-height: 1.5;
}

.linkedin-link {
    font-size: 0.8rem;
}

/* section start */
.container.started {
    width: 25%;
}

.started > * {
    margin-bottom: 30px;
}

#its-free {
    color: #fdc15f;
    font-size: 3rem;
}

.started .btn {
    background-color: #fff;
    color: #9792e4;
}

#privacy-policy {
    text-decoration: underline;
}

/* footer rules */
footer {
    color: #fff;
    background-color: #333333;
    font-size: 1rem;
}

.container.footer-text {
    width: 22%;
    height: 100%;
}

footer p {
    padding: 30px 0;
}

footer a{
    color: #9792e4;
    text-decoration: underline;
}

/* rules responsive tablet */
@media screen and (max-width: 768px) {
    /* general rules */
    .container {
        width: 90%;
        margin: 0 auto;
    }

    /* header rules */
    .nav-desktop {
        display: none;
    }

    .nav-mobile-tablet {
        display: block;
    }

    /* main */

    /* section functions */
    .card.medium {
        display: inline-block;
    }

    /* section strategic planning */
    .container.small {
        width: 90%;
    }

    .card-planning, .card-planning.white {
        width: 100%;
    }

    /* section start */
    .container.started {
        width: 60%;
    }

    /* footer */
    .container.footer-text {
        width: 60%;
    }
}

/* rules responsive mobile */
@media screen and (max-width: 480px) {
    
    /* main */

    /* section functions */
    .container.flex.functions {
        display: inline-block;
    }

    .card.medium, .card {
        display: inline-block;
        width: 80%;
    }

    /* section about us */
    .col-big, .col-small {
        width: 90%;
        text-align: left;
    }

    /* section start */
    .container.started {
        width: 90%;
    }

    /* footer */
    .container.footer-text {
        width: 90%;
    }
}